/*Global CSS*/
body {
  margin-top: 60px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background: #BDBDBD;
}

section {
  padding: 1em 5em;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 5);
}

h1 {
  font-size: 4em;
  padding-bottom: .1em;
}



small {
  color: #BDBDBD;
}


/*About Section*/

#about {
  /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 5); */
  background: #303F9F;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

#profile {}

#profile-img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: auto;
}

#intro {
  padding-left: 0;
}


/*Portfolio Section*/

#portfolio {
  color: #212121;
  background-color: #3F51B5;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

#social-icon {
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}


/*Contact Section*/

#contact {
  color: #212121;
  background-color: #C5CAE9;
  text-align: center;
}


/*Footer Section*/

footer {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 5);
  text-align: center;
  background: #303F9F;
}
